<p-blockUI [blocked]="loading">
  <p-progressSpinner></p-progressSpinner>
</p-blockUI>
<div class="container">
  <p-card>
    correct
    <div class="p-inputgroup">
      <input *ngFor="let key of wordleKeys; let i = index" [(ngModel)]="wordle[key]" (ngModelChange)="wordleChange()" pInputText placeholder="{{i + 1}}" type="text">
    </div>
    incorrect
    <div class="p-inputgroup">
      <input *ngFor="let key of wordleKeys; let i = index" [(ngModel)]="wledord[key]" (ngModelChange)="wordleChange()" pInputText placeholder="{{i + 1}}" type="text">
    </div>
    <p-table [paginator]="true" responsiveLayout="scroll" [rows]="10" [value]="words">
      <ng-template pTemplate="header">
        <tr>
          <th class="pl-0">
            <input class="w-full" [(ngModel)]="exclude" (ngModelChange)="wordleChange()" placeholder="exclude" pInputText>
          </th>
          <th>
            <input class="w-full" [(ngModel)]="include" (ngModelChange)="wordleChange()" placeholder="include" pInputText>
          </th>
          <th class="pr-0 text-right">
            <button (click)="initWords()" label="refresh" pButton type="button"></button>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <td colspan="3">{{data}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
  <router-outlet></router-outlet>
</div>